@charset "UTF-8";
* {
    box-sizing: border-box;
}


.full-size-image {
 
    background-image: url('../images/footer-image-V03-01.svg');
	background-size: cover;
    background-repeat: no-repeat;
		
}

.img-center {
	margin: auto;
}
.img-fluid {
	margin:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.media-body {
	margin: auto;
}

nav {
    background-color: #2A1029; 
}

nav a:hover {
    color: rgb(236, 105, 51);
}



nav a:hover {
    color: rgb(236, 105, 51);
}

.nav-button-orange.nav-link {
    transition: all 0.2s ease;
    margin: 0px 30px;	
    
}
	

.col-xl-12 {
	width: 100%;
	height: auto;
}


.nav-link {
	margin: 0px 30px;
}

.nav-button-orange:hover {
    color: rgb(236, 105, 51);
    
}

nav a {
    color: #ffffff;
}



header a {
    color: #ffffff;
    border-radius: 4px;
    padding: 20px 45px;
    border: 1px solid white;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.2s ease;
}

header a:hover {
    background-color: #ffffff;
    color: rgba(236, 105, 51, 1);
}

.btn-link {
    color: #f37344;
    border-radius: 4px;
    padding: 20px 45px;
    border: 1px solid #f37344;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.2s ease;
	margin-top: 50px;
	margin-bottom: 70px;
}

.btn-link:hover {
    background-color: rgba(250,110,40,1.00);
    color: white;
}

.decorbox {
    background-color: rgba(236, 105, 51, 0.5);
    padding-bottom: 250px;
    padding-top: 250px;
}

header h1 {
    font-size: 145px;
    font-weight: 800;
    text-transform: uppercase;
}

header h2 {
    margin-bottom: 60px;
	font-weight: 200px;
	
}
h3 {
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-top: -20px;
	color: rgba(250,110,40,1.00);
}
.max {
	 max-width: 600px;
	margin:auto;
}
.who-we-are {
    color: #290f28;
    padding-top: 70px;
    text-align: center;
}

.heading {
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
	margin-top: 5px;
}

.subheadline {
    font-size: 20px;
}

.paragraph {
    font-size: 16px;
}

.who-we-are-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
}

.who-we-are img {
	margin-top: 50px;
	
}

.body {

	text-align: center;
	background-color: white;}

.in-progress {
	font-size: 40px;
	font-weight: 500;
	margin-top: 0px;
}


.how-we-work {
	background-color: white;
    padding-top: 80px;
	margin: auto;
	text-align: center;
}

.doubt {
	padding-top: 80px;
	margin: auto;
	text-align: center;
	background-color: white;
}

.how-we-work .subheadline {
    margin-bottom: 70px;
	margin-top: 70px;
}

.how-we-work h2 {
    margin-top: 30px;

}

.img-fluid {
	
	max-width: 100%; 
	height: auto;
}


.why-us {
  
    text-align: center;
    background-repeat: no-repeat;
   ;
	padding-top: 100px;
}


.why-us p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    color: #ffffff;
    background-color: #2a1029;
    padding: 65px;
	margin: auto;
}

footer h1 {
    color: #ed7243;
	padding-top: 50px;
	margin: auto;
}


.center {
	margin: auto;
}
footer a {
    color: #ed7243;
}

footer input {
    width: 100%;
}
.navbar-toggler {
	color: #FFFFFF;
}
.social-icons {
	margin-right: 20px;
}

/* Float four columns side by side */
.col {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width:401px){
	

    header h1 {
        font-size: 50px;
		font-weight: 500;
		text-transform: uppercase;
    }
  
	
	


header h2 {
    margin-bottom: 60px;
	font-size: 16px;
	font-weight: 400;	
}

.who-we-are {
    color: #290f28;
    padding-top: 60px;
    text-align: center;
	font-size: 16px;
}

.heading {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.subheadline {
	font-size: 16px;
	margin-top: -15px;
}

.paragraph {
	font-size: 14px;
}

.who-we-are-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.row .col.icons-how-we-work {
	margin-top: 30px;
}
.footer {
	font-size: 12px;
	width: 350px;
	font-weight: lighter;
}
.my-4 {
	color: #ffffff;
	border-color: #C9C9C9;
	border-width: thin;
}

.who-we-are img {
	margin-top: 50px;
	max-width: 250px;	
}

.how-we-work {
    text-align: center;
    padding-top: 90px;
	font-size: 40px;
    font-weight: 500;
   
}

.how-we-work .subheadline {
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: normal;
	margin-top: -15px;
	margin-right: 0px;
}

footer {
    color: #ffffff;
    background-color: #2a1029;
    padding: 45px;
	font-weight: 300;
	
}

	footer h1 {font-weight: 400}
footer .h1 {
    color: #ed7243;
	font-size: 16px;
}

footer a {
    color: #ed7243;
	font-size: 12px;
}

footer input {
    width: 100%;
	font-size: 12px;
}
.navbar-toggler {
	color: #FFFFFF;
}
	
		.nav-link {
		text-align: left;
	}

	
	

.mar-left {
		margin-left: 20px;
}
	
@media screen and (max-width: 600px){
.col.icons-margin.social {
	min-width: 450px;
	margin-top: 40px;
}
	footer {
	color: #ffffff;
	background-color: #2a1029;
	padding-top: 90px;
}

footer h1 {
    color: #ed7243;
	font-size: 16px;
}

footer a {
    color: #ed7243;
	font-size: 12px;
}

footer input {
    width: 100%;
	font-size: 12px;
}
	

	
.row.footer-margin {
	margin-top: -50px;
}
.social-icon-650-margin {
	margin-right: 5px;
}
	header h1 {
        font-size: 80px;
		font-weight: 700;
		text-transform: uppercase;
}
		.nav-item .nav-link {
		text-align: left;
	}
	
header h2 {
    margin-bottom: 60px;
	font-size: 20px;
	font-weight: 400;	
	}

	}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .col  {
        width: 50%;
		display: block;
		margin-bottom: 40px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col  {
       width: 100%;
    display: block;
    margin-bottom: 20px;
    }
	}
	
@media screen and (max-width:401px){
    header h1 {
        font-size: 50px;
		font-weight: 500;
		text-transform: uppercase;
    }
  
max {
	 max-width: 460px;
	margin:auto;
}
	
	
.why-us {
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center bottom;
    padding-bottom: 200px;
}

header h2 {
    margin-bottom: 60px;
	font-size: 16px;
	font-weight: 400;	
}

.who-we-are {
    color: #290f28;
    padding-top: 60px;
    text-align: center;
	font-size: 16px;
}

.heading {
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
}

.subheadline {
	font-size: 16px;
	margin-top: -15px;
}

.paragraph {
	font-size: 14px;
}

.who-we-are-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.row .col.icons-how-we-work {
	margin-top: 30px;
}
.footer {
	font-size: 12px;
	width: 350px;
	font-weight: lighter;
}
.my-4 {
	color: #FFFFFF;
	border-color: #C9C9C9;
	border-width: thin;
}

.who-we-are img {
	margin-top: 50px;
	max-width: 250px;	
}

.how-we-work {
    text-align: center;
    padding-top: 90px;
	font-size: 40px;
    font-weight: 500;
   
}

.how-we-work .subheadline {
	margin-bottom: 50px;
	font-size: 16px;
	font-weight: normal;
	margin-top: -15px;
	margin-right: 0px;
}

footer {
    color: #ffffff;
    background-color: #2a1029;
    padding: 45px;
	
}

footer .h1 {
    color: #ed7243;
	font-size: 16px;
}

footer a {
    color: #ed7243;
	font-size: 12px;
}

footer input {
    width: 100%;
	font-size: 12px;
}
.navbar-toggler {
	color: #FFFFFF;
}
	
		.nav-link {
		text-align: left;
	}
.mountain {
	margin-top: 80px;
	

}
	
	.touch {
			font-size: 20px;
	}

.mar-left {
		margin-left: 20px;
}
	
@media screen and (max-width: 600px){
.col.icons-margin.social {
	min-width: 450px;
	margin-top: 40px;
}
	footer {
	color: #ffffff;
	background-color: #2a1029;
	padding-top: 90px;
}
	.max {
	 max-width: 480px;
	margin:auto;
}


footer h1 {
    color: #ed7243;
	font-size: 16px;
}

footer a {
    color: #ed7243;
	font-size: 12px;
}

footer input {
    width: 100%;
	font-size: 12px;
}
	

	
.row.footer-margin {
	margin-top: -50px;
}
.social-icon-650-margin {
	margin-right: 5px;
}
	header h1 {
        font-size: 80px;
		font-weight: 700;
		text-transform: uppercase;
}
		.nav-item .nav-link {
		text-align: left;
	}
	
header h2 {
    margin-bottom: 60px;
	font-size: 20px;
	font-weight: 400;	
	}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .col  {
        width: 50%;
		display: block;
		margin-bottom: 40px;
    }

	.max {
	 max-width: 600px;
	margin:auto;
}


}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col  {
       width: 100%;
    display: block;
    margin-bottom: 20px;
    }
}